<%- include('./partials/header') %>
    
<main>
        
    <img src="<%= pokemon.sprites.front_default %>"
  alt="pokemon" 
  class="pokemon_image">
      
  <h1 class="pokemon_data">
      <span class="pokemon_number"><%= pokemon.id %></span>
      <span class="pokemon_name"><%= pokemon.name %></span>
  </h1>

  <form>
      <input type="search"
      class="input_search"
      placeholder="Search"
      required>
  </form>

  <div class="buttons">
      <button class="button btn-prev">Prev &lt;</button>
      <button class="button btn-next">Next &gt;</button>
  </div>

  <img src='../images/pokedex.png' class="pokedex" alt='pokedex'>

</main>

<%- include('./partials/footer') %>