<%- include('./partials/header') %>

    <main>

        <img src='<%= pokemon ? pokemon.sprites.front_default : '' %>' class='pokemon_image'><img>

        <h1 class='pokemon_data'>
            <span class='pokemon_number'><%= pokemon ? pokemon.id : '' %></span>

            <a href="/pokemon/<%= pokemon ? pokemon.id : '' %>">       
                <span class='pokemon_name'>
                    <%= pokemon ? pokemon.name : '' %>
                </span>
            </a>
        </h1>

        <form action='/' method='POST'>
            <input type='search' name='pokemon' class='input_search' placeholder='Search' required>
        </form>

        <% if (!user ) { %>
    
            <div>
                <a href="/auth/google" type="submit" class="login"><button action='/user'>Login</button></a>
            </div>
                
                <% } else { %>
    
                    <% } %>


        <img src='../images/pokedex.png' class='pokedex' alt='pokedex'>

    </main>

<%- include('./partials/footer') %>