<%- include('./partials/header') %>
<h1>Your Lineup</h1>

<% if (user && lineup.length > 0) { %>
    <% lineup.forEach(function(pokemon) { %>
        <div class="pokemon">
            <img src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
            
            <h1 class='show_pokemon'>
                <span><%= pokemon.name %></span>
            </h1>

            <form action="/lineup" method="POST" class="add"">
                <h2>
                    <select id="<% pokemon %>">
                        <% pokemon.moves.forEach(function(move) { %>
                            <option value="<%= pokemon.move %>"><%= pokemon.move %></option>
                            <input type="hidden" name="pokemonId" value="<%= pokemon.id %>">
                            <button>Add to Lineup</button>
                        <% }) %>
                    </select>
                </h2>

            </form>

            <div id="<%= pokemon %>">
                <% if (pokemon.selectedMoves && pokemon.selectedMoves.length > 0) { %>
                    <% pokemon.selectedMoves.forEach(function(move) { %>
                        <div class="move">
                            <span><%= move %></span>
                            <input type="hidden" name="pokemonId" value="<%= pokemon.selectedMoves %>">
                            <button>X</button>
                        </div>
                    <% }) %>
                <% } %>
            </div>

    <% }) %>

<% } else { %>
 
    <p>No Pokémon in your lineup yet.</p>

<% } %>

<%- include('./partials/footer') %>