<%- include('./partials/header') %>
<h1>Your Lineup</h1>
        
<% if (user && lineup.length > 0) { %>
    <% lineup.forEach(function(pokemon) { %>
        <div class="pokemon">
            <img src="<%= pokemon.sprites.front_default %>" alt="<%= pokemon.name %>">
            
            <h1 class='show_pokemon'>
                <span><%= pokemon.name %></span>
            </h1>
            <form action="/lineup" method="PUT" class="add">
                <h3>
                    <input type="hidden" name="pokemonId" value="<%= pokemon.id %>">
                    <button>Remove from lineup</button>
                </h3>
            </form>


    <% }) %>

<% } else { %>
 
    <p>No Pokémon in your lineup yet.</p>

<% } %>

<br>
<br>

<a href="/home">Home</a>

<%- include('./partials/footer') %>