<%- include('./partials/header') %>

    <main>

        <img src='<%= pokemon ? pokemon.sprites.front_default : '' %>' class='show_image'><img>

        <% /* %>
        <% */ %>
        <h1 class='show_pokemon'>
            <span>
                <%= pokemon ? pokemon.name : '' %>
            </span>
        </h1>
        
        <div class='show_pokemon'>
            <h3>Types:</h3>
            <ul>
                <% if (pokemon && pokemon.types) { %>
                    <% pokemon.types.forEach(function(typeObject) { %>
                        <li><%= typeObject.type.name %></li>
                    <% }) %>
                <% } %>
            </ul>
        </div>
        
        <div class='show_pokemon'>
            <h3>Stats:</h3>
            <ul>
                <% if (pokemon && pokemon.stats) { %>
                    <% pokemon.stats.forEach(function(statObject) { %>
                        <li><%= statObject.stat.name %>: <%= statObject.base_stat %></li>
                    <% }) %>
                <% } %>
            </ul>
        </div>
        
        <div class='show_pokemon'>
            <h3>Size:</h3>
            <p>Height: <%= pokemon ? pokemon.height : '' %> decimetres</p>
            <p>Weight: <%= pokemon ? pokemon.weight : '' %> hectograms</p>
        </div>
    
    </main>

    <%- include('./partials/footer') %>