<%- include('./partials/header') %>

    <form action="/pokemon/<%= pokemon ? pokemon.id : '' %>" method='POST'>
        <input type='search' name='pokemon' class='input_search' placeholder='Search' required>
    </form>

    <h1>Pokedex</h1>
    <ul>
        <% if (pokemon) { %>
            <% pokemon.forEach(p=> { %>
                <li>
                    <h2>
                        <%= p.name %>
                    </h2>
                    <img src="<%= p.sprites.front_default %>">
                    <p>Height: <%= p.height %>
                    </p>
                    <p>Weight: <%= p.weight %>
                    </p>
                </li>
                <% }) %>
                    <% } else { %>
                        <li>No Pokémon found</li>
                        <% } %>
    </ul>

    <%- include('./partials/footer') %>